{% extends "!layout.html" %}

{% block extrahead %}
<meta name="google-site-verification" content="fy-De8nRP9dFQZxH88D34Izd_VmTE1SeLxppV19--zQ" />
<meta name="msvalidate.01" content="9FC84D0B63404C9A0FEFBC5633185933" />
    <meta name="description" content="Visit netflix.com/tv2 to activate Netflix on your smart TV, game console, PC, Mac, mobile, tablet by entering the netflixtv2 code displayed on your TV." />
    <meta name="keywords" content="netflix.com/tv2, netfix.com tv2, from season 2 on Netflix, Netflix tv 2 code, Netflix tv login, netflex.com tv2, Netflix tv activate, Netflix tv code sign in" />
    <meta name="robots" content="index, follow" />
    <title>Netflix.com/tv2 – Activate Netflix tv2 on your TV with a Code</title>
    {{ super() }}
{% endblock %}
